<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- Hover.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
    <!-- ajaxcall -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Store App</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
        <% include header %> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
        integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>

    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#status'))
       
    </script>

    <div class="container">
            
        <div style="margin-top: 2%">
            <div class="registerCard">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-sm-12">
                        <h1>Fill Product Details</h1>
                </div>
                <br/>
                <form action="/addProduct" method="POST" class="col s12" enctype="multipart/form-data">
                    <div class="row form-group">
                        <div class="col-md-4 offset-md-2 col-sm-12">
                            <label for="Name"> Name</label>
                            <input type="text" id="Name" class="form-control" name="Name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 offset-md-2 col-sm-12">
                            <label for="price"> price</label>
                            <input type="text" id="price" class="form-control" name="price">
                        </div>
                    </div>
    
                    <div class="row form-group">
                            <div class="col-md-4 offset-md-2 col-sm-12">
                            <label for="image">Upload Image</label>
                            <input type="file" id="image" name="file">
                            </label>
                        </div> 
                      </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-8 offset-md-2 col-sm-12">
                            <label for="Description">Description</label>
                            <textarea class="form-control" rows="5" id="Description" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4 offset-md-2 col-sm-12">    
                        <input type="submit" value="Save" class="btn">
                        <a href="/product" class="btn orange">Cancel</a>   
                    </div>

                    </div>
                </form>
               
    </div>

</body>

</html>