<nav class="grey darken-3">
    <div class="nav-wrapper">

        <a href="#!" class="brand-logo center">Store Application</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <span style="float:right"> Welcome <%- userName %> </span>
        <ul class="sidenav" id="mobile-demo">
            <br>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>